In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("Housing_price_data_set.csv")
df.head()

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,1,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no
1,2,38500.0,4000,2,1,1,yes,no,no,no,no,0,no
2,3,49500.0,3060,3,1,1,yes,no,no,no,no,0,no
3,4,60500.0,6650,3,1,2,yes,yes,no,no,no,0,no
4,5,61000.0,6360,2,1,1,yes,no,no,no,no,0,no

In [3]:
df['num_airco']=df.airco.map({'yes':1,'no':0})
df['num_fullbase']=df.fullbase.map({'yes':1,'no':0})
df['num_gashw']=df.gashw.map({'yes':1,'no':0})
df['num_driveway']=df.driveway.map({'yes':1,'no':0})
df['num_recroom']=df.recroom.map({'yes':1,'no':0})
df['num_prefarea']=df.prefarea.map({'yes':1,'no':0})
X=df[['lotsize','bedrooms','bathrms','stories','num_driveway','num_recroom','num_fullbase','num_gashw','num_airco','garagepl','num_prefarea']].values
Y=df[['price']].values
X=(X-np.mean(X))/np.std(X)
Y=(Y-np.mean(Y))/np.std(Y)
print("checking matrix X: ",X)

checking matrix X:  [[ 3.32566332 -0.28800578 -0.28924186 ... -0.2898599  -0.28924186
  -0.2898599 ]
 [ 2.18229273 -0.28862382 -0.28924186 ... -0.2898599  -0.2898599
  -0.2898599 ]
 [ 1.60133687 -0.28800578 -0.28924186 ... -0.2898599  -0.2898599
  -0.2898599 ]
 ...
 [ 3.41836905 -0.28800578 -0.28862382 ... -0.28924186 -0.28924186
  -0.2898599 ]
 [ 3.41836905 -0.28800578 -0.28862382 ... -0.28924186 -0.28924186
  -0.2898599 ]
 [ 3.41836905 -0.28800578 -0.28924186 ... -0.28924186 -0.28924186
  -0.2898599 ]]

In [4]:
m = df['lotsize'].count()
one=np.ones(m,dtype=int)
matx=np.insert(X,0,one,axis=1)
transpose_x=np.transpose(matx)
temp=np.matmul(transpose_x,matx)
temp2=np.matmul(transpose_x,Y)
invtemp=np.linalg.inv(temp)
parameters=np.matmul(invtemp,temp2)
print(parameters)

[[1.37658095e+03]
 [2.15081916e-01]
 [1.11110315e+02]
 [8.69446180e+02]
 [3.97676252e+02]
 [4.05611325e+02]
 [2.73607675e+02]
 [3.30685115e+02]
 [7.78220072e+02]
 [7.66180033e+02]
 [2.57447260e+02]
 [5.68257433e+02]]

In [5]:
# Calculating the squared error on entire data
predicted_y = np.matmul(matx,parameters)
diff = predicted_y - Y
print("Total squared error is :", end = " ")
ie1 = np.abs(diff) 
ie = np.power(ie1,2)
tse=(np.mean(ie))
print(tse)

Total squared error is : 0.32687637935855013